google-generativeai
fuzzywuzzy
python-Levenshtein
winapps
flask
flask-cors
speechrecognition
pyttsx3
pywinauto
Pillow==10.0.0
pyautogui
sentence-transformers
scikit-learn
numpy
pywin32
psutil
python-docx
python-pptx
tkinter
queue
logging
torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cpu 
