google-generativeai
fuzzywuzzy
python-Levenshtein
winapps
flask
flask-cors
speechrecognition
pyttsx3
pywinauto
Pillow==10.0.0
pyautogui
sentence-transformers
scikit-learn
numpy
pywin32
psutil
python-docx
python-pptx
tk
python-dotenv